mixin loginForm()
  form.form(action='/login', method='POST')
    h2 Login
    label(for='email') E-mail
    input(type='email' name='email')
    label(for='password') PassWord
    input(type='password', name='password')
    input.button(type='submit' value='Log In')