extends layout

block content
  h3 today pass away #{h.moment().endOf('day').fromNow()}
    br
  a Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus enim dignissimos quos odit possimus vero suscipit repellat mollitia, labore laboriosam.